amqp==1.4.9
ansicon==1.89.0
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.5.2
astroid==2.4.2
awscli==1.18.149
awsebcli==3.19.0
beautifulsoup4==4.9.3
billiard==3.3.0.23
blessed==1.17.10
boto==2.49.0
boto3==1.15.8
botocore==1.18.8
camelcase==0.2
celery==3.1.26.post2
cement==3.0.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
culqi==1.0.0
distlib==0.3.1
dj-database-url==0.5.0
django-celery==3.3.1
django-extensions==3.0.9
django-facebook-pixel-code==0.0.2
django-filter==2.4.0
django-google-analytics-app==4.4.2
django-sendgrid-v5==0.9.0
django-storages==1.10.1
django-widget-tweaks==1.4.8
docker-py==1.10.6
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
drf-renderer-xlsx==0.3.8
et-xmlfile==1.0.1
filelock==3.0.12
future==0.18.2
futures==3.1.1
gunicorn==20.0.4
html5lib==1.1
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.0.0
isort==5.7.0
jdcal==1.4.1
jinxed==1.0.1
jmespath==0.10.0
kombu==3.0.37
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
openpyxl==3.0.5
pathspec==0.8.0
pyasn1==0.4.8
pylint==2.6.0
pypiwin32==223
python-dateutil==2.8.1
python-http-client==3.3.1
pytz==2020.1
pywin32==301
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
s3transfer==0.3.3
semantic-version==2.8.5
sendgrid==6.4.7
six==1.15.0
soupsieve==2.2.1
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
structlog==21.1.0
termcolor==1.1.0
toml==0.10.2
tzdata==2022.6
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
wrapt==1.12.1
zipp==3.2.0
